*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


main{}
.slider{
    width: 100%;
    height: 100vh;
    animation: backgroundChanges 10s infinite;
}

@keyframes backgroundChanges {
    From{
        background-color: green;
    }
    To{
        background-color: blueviolet;
    }
}