*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


main{}

.slide-container{
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.slider{
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slider .item{
    flex: 0 0 100%;
    height: 200px;
}
.item.active{
    transform: translateX(0px);
}
.slider .bgItem1{
    background: red;
}
.slider .bgItem2{
    background: yellow;
}
.slider .bgItem3{
    background: green;
}

.order{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;   
}
.pre,.next i{
    font-size: 28px;
    margin: 20px;
    font-weight: 700;
    cursor: pointer;
}


.animation-item1{
    width: 80px;
    height: 25px;
    background-color: #3a3131;
    border-radius: 3px;
    position: relative;
    /* top: 0px; */
    /* left: 200px; */
    /* bottom: 0px; */
    animation: brick linear 10s infinite;
}
@keyframes brick {
    from{ top:0; transform: translateX(200px);}
    to{top:100vh;}
}



/* Testimonial Section Start */
.testimonial{
    width: 1160px;
    margin: 0 auto;
    padding: 40px 0;
    overflow: hidden;
    position: relative;
}
.testimonial h1{
    text-align: center;
}
.test-items{
    display: flex;
    transition: transform 0.6s ease-in-out;
}
.t-item{
    flex: 0 0 100%;
    display: flex;

}
.t-item.test{
    transform: translateX(0px);
}
.test-item{
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 8px #00000030;
    margin: 15px ;
}

.test-item .t-Image{
    text-align: center;
}
.test-item .t-Image img{
    max-width: 50%;
}
.test-item .t-Content{}
.test-item .t-Content p{
    text-align: center;
}

.test-order{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.test-order .t-left,
.t-right{
    cursor: pointer;
}
/* Testimonial Section End */