*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


main{}
.slider{
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.bgItem1, .bgItem2, .bgItem3, .bgItem4{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    /* left: 0; */
}
.bgItem1{
    background: yellow;
    left: 0;
}
.bgItem2{ 
    background: red;
    left: 100%;
}
.bgItem3{
    background: orange;
    left: 200%;
}
.bgItem4{
    background: green;
    left: 300%;
}

.order{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;   
}
.pre,.next i{
    font-size: 28px;
    margin: 20px;
    font-weight: 700;
}


.animation-item1{
    width: 80px;
    height: 25px;
    background-color: #3a3131;
    border-radius: 3px;
    position: relative;
    /* top: 0px; */
    /* left: 200px; */
    /* bottom: 0px; */
    animation: brick linear 10s infinite;
}
@keyframes brick {
    from{ top:0; transform: translateX(200px);}
    to{top:100vh;}
}